.imgup {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px auto;
    background-color: white;
    border-top: 1px solid lightgray;
    // position: fixed;
    // bottom: 0;

    &__progress {
        width: 100%;
    }
}