* {
  margin: 0;
}

.app {
  background-color: #fafafa;

  &__header {
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
  }

  &__logo {
    height: 40px;
   
  }

  &__headerImg {
    object-fit: contain;
    height: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}