* {
  margin: 0;
}

.app {
  background-color: #fafafa;

  &__header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    height: 40px;
   
  }

  &__headerImg {
    object-fit: contain;
    height: 40px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__posts {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  &__postsRight {
    margin-left: 20px;
  }
}